.hero-circle {
  background: url("../assets/Contact.png");
  background-size: cover;
  width: 458.19px;
  height: 458.19px;
  border-radius: 50%;
  margin: auto;
}

.hero-content {
  height: 458.19px;
  padding: 40px 0px;
  vertical-align: middle;
 }

 @media (max-width: 768px) and (min-width: 320px) {
   .hero-circle {
     width: 350px;
     height: 350px;
   }
   .hero-content {
     height: 350px;
   }
 }

h1 {
  font-size: 20px;
}
iframe {
   display: block;
   margin: auto;
   padding-top: 60px;
 }
