/* SECTION */

section {
  margin: 0px 250px;
}

section p {
  margin-bottom: 25px;
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;

}

section li {
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

section h3 {
  padding-top: 20px;
  font-size: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}

section h2 {
  padding-top: 10px;
}

section btn {
  margin: 10px 0px;

}

section h5 {
  font-family: "adelle", serif;
  font-weight: 250;
}

section li {
  margin-top: 15px;
}

/* HERO */

.hero-content2 {
  background: #edf4f4;
  height: 458.19px;
  padding: 40px 0px;
  vertical-align: middle;
  display: flex;

 }

 .hero-content2 h4 {
   font-size: 40px;
 }

 .hero-content2 h2 {
   text-align: left;
 }

.hero-text {
  margin-left: 100px;
}

 .hero-text h4 {
   margin: 0px;
 }

 @media (max-width: 768px) and (min-width: 320px) {
   .hero-circle {
     width: 350px;
     height: 350px;
   }
   .hero-content {
     height: 350px;
   }
 }

/* PROBLEM AND SOLUTION */
.case-study {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-left: 0px;
  padding-bottom: 20px;
  list-style: none;
}

.case-study p {
  margin: 0px;
}

.casebox {
  margin: 0px 30px 0px 30px;
  width: 50%;
}

@media (max-width: 768px) and (min-width: 320px) {
  .case-study {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    list-style: none;
  }
  .casebox {
    margin: 0px ;
    width: 100%;
  }
}


/* PROCESS */
.process-steps {
  margin: 10px 50px 50px 10px;
}

.process-box {
  list-style: none;
  text-align: center;
  margin-top: 0px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.process-box ul {
  list-style-type: none;
  padding-left: 0;
}

.process-box h4 {
  margin-top: 0px;
  margin-bottom: 15px;
}

.process-box h5 {
  margin-top: 0px;
}

.phase h4 {
  font-size: 30px;
  margin-bottom: 10px;
}

.phase-box {
  margin: 0px 10px;
  padding: 30px 20px;
  width: 33.33%;
  border: 1px solid #d6dcdc;
  border-radius: 3px;
}

.phase-box li {
  margin: 0px;
  padding-bottom: 0px;
}

@media (max-width: 767px) and (min-width: 320px) {
  .process-box {
    flex-direction: column;
  }
  .process-box ul {
    padding-left: 0px;
  }
  .process-steps {
    margin: 15px;
  }
  .phase-box {
    width: auto;
  }
}

/* SURVEY RESULTS */

/* PERSONAS */

/* SITE MAPS */

/* WIREFRAMES */
.wireframes img {
  display: flex;
  margin: auto;
}

/* TESTING */
.usability-testing img {
  display: flex;
  margin: auto;
  padding-bottom: 30px;
}

/* COMP ANALYSIS */
.competitive-analysis img {
  margin: auto;
  display: flex;
  justify-content:center;
  padding-bottom: 30px;
}

/* REFLECTION */

.reflection-content {
  margin-bottom: 100px;
}

/* FOOTER */

footer {
  background: #edf4f4;
  background: url("../assets/Asset 1@2x.png");
  background-color: #edf4f4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1800px 878.5812356979404px;
  padding: 40px 0px 30px 0px;
  text-align: center;
}

.footer-container ul {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  padding-left: 0px;

}

.social-btn {
  display: inline-block;
}

.social-btn a {
  color: #ffffff;
  border-radius: 100px;
  background-color: #1b3d3d;
  padding: 12px 14px;
  margin: 20px;
}

.copyright {
 display: inherit;
 font-family: "adelle", serif;
 padding: 40px 0px 0px 0px;
 text-align: center;
}

@media (max-width: 768px) and (min-width: 320px) {
  .social-btn a {
    margin: 10px;
  }
  .copyright {
    font-size: 11px;
  }
}
