/* SECTION */

section {
  margin: 0px 250px;
}

section p {
  margin-bottom: 25px;
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;

}

section li {
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

section h3 {
  padding-top: 20px;
  font-size: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}

section h2 {
  padding-top: 20px;
}

section btn {
  margin: 10px 0px;

}

section h5 {
  font-family: "adelle", serif;
  font-weight: 250;
}

section li {
  margin-top: 15px;
}

section ol {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  margin: 15px 0px;
}

.btn:hover{
  border-color: #1b3d3d;
}

@media (max-width: 768px) and (min-width: 320px) {
  section {
   margin: 20px;
  }

  section p {
    font-size: 18px;
    line-height: 1.5em;
  }

  section li {
    font-size: 18px;
  }

  section h2 {
    font-size: 28px;
  }

  section h4 {
    font-size: 20px;
  }

  section h3 {
    font-size: 20px;
  }

}

@media (max-width: 1024px) and (min-width: 769px) {
  section {
    margin: 80px;
  }
}

/* HERO */

.hero-content2 {
  background: url("../assets/Asset 1@2x.png");  height: 458.19px;
  background-color: #edf4f4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1800px 878.5812356979404px;
  padding: 40px 0px;
  vertical-align: middle;
  display: flex;
 }

 .hero-content2 img {
   margin-left: 120px;

 }

 .hero-content2 h4 {
   font-size: 40px;
 }

 .hero-content2 h2 {
   text-align: left;
 }

.hero-text {
  margin-top: 100px;
  margin-left: 150px;
}

 .hero-text h4 {
   margin: 0px;
 }

 @media (max-width: 767px) and (min-width: 320px) {
   .hero-content2 {
     height: 500px;
     display: flex;
     flex-direction: column;
   }
   .hero-content2 h2 {
     text-align: center;
   }
   .hero-text {
     text-align: center;
     padding-top: 50px;
     margin:auto;
   }

   .hero-content2 img {
      margin-left: 40px;
   }
 }

 @media (max-width: 1024px) and (min-width: 768px) {
  .hero-content2 {
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  .hero-content2 h2 {
    text-align: center;
  }
  .hero-text {
    text-align: center;
    margin:auto;
  }
  .hero-content2 img {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}

/* PROBLEM AND SOLUTION */
.case-study {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-left: 0px;
  padding-bottom: 20px;
  list-style: none;
}

.case-study p {
  margin: 0px;
}

.casebox {
  margin: 0px 30px 0px 30px;
  width: 50%;
}

@media (max-width: 767px) and (min-width: 320px) {
  .case-study {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    list-style: none;
  }
  .casebox {
    margin: 0px ;
    width: 100%;
  }
}


/* PROCESS */
.process-steps {
  margin: 10px 50px 50px 10px;
}

.process-box {
  list-style: none;
  text-align: center;
  margin-top: 0px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.process-box ul {
  list-style-type: none;
  padding-left: 0;
}

.process-box h4 {
  margin-top: 0px;
  margin-bottom: 15px;
}

.process-box h5 {
  margin-top: 0px;
}

.phase h4 {
  font-size: 30px;
  margin-bottom: 10px;
}

.phase-box {
  margin: 0px 10px;
  padding: 30px 20px;
  width: 33.33%;
  border: 1px solid #d6dcdc;
  border-radius: 3px;
}

.phase-box li {
  margin: 0px;
  padding-bottom: 0px;
}

@media (max-width: 767px) and (min-width: 320px) {
  .process-box {
    flex-direction: column;
    padding-left: 0px;
  }
  .process-box ul {
    padding-left: 0px;
  }
  .process-steps {
    margin: 15px;
  }
  .phase-box {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .process-box {
    flex-direction: row;
    padding-left: 0px;
  }
  .process-box ul {
    padding-left: 0px;
  }
  .process-steps {
    margin: auto;
  }
  .phase-box {
    width: 33.33%;
  }
}

/* SURVEY RESULTS */
.survey-findings img {
  margin: auto;
  display: flex;
  width: 100%
}
/* PERSONAS */
.persona-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-bottom: 25px;
}

.persona-wrapper img {
  margin: auto;
  display: flex;

}

.individual {
  width: 33.3%;
  padding: 30px;
  margin: 0px 10px;
  border: 1px solid #d6dcdc;
}

.individual p {
  font-size: 18px;
  padding-bottom: 0px;
  margin: 0px;
  line-height: 20px;
}

.individual li {
  font-size: 18px;
  list-style: none;
}

.individual h4 {
  font-size: 28px;
  font-family: "adelle" , serif;
  font-weight: 150;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.individual h6 {
  margin: 30px 0px 15px 0px;
  font-size: 18px;
  font-weight: 600px;
}

@media (max-width: 768px) and (min-width: 320px) {
  .persona-wrapper {
    display: flex;
    flex-direction: column;
  }
  .individual {
    margin: auto;
    margin-top: 20px;
    width: 60%;
  }

  .individual p {
    font-size: 15px;
  }

  .individual li {
    font-size: 15px;
  }

  .individual h4 {
    font-size: 20px;
  }

}

/* SITE MAPS */
.user-flows img {
  display: flex;
  margin: auto;
  padding-top: 25px;
}
/* WIREFRAMES */
.wireframe-left img {
  display: flex;
  flex
  margin: auto;
}

/* TESTING */
.usability-testing img {
  display: flex;
  margin: auto;
  padding-bottom: 30px;
}

/* COMP ANALYSIS */
.comp-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.comp-wrapper img {
  margin: auto;
}

.competitor {
  width: 25%;
  padding: 0px 5px;
  margin: 0px 20px;
}

.competitor p {
  font-size: 18px;
  text-align: left;
  line-height: 20px;
}

@media (max-width: 767px) and (min-width: 320px) {
  .comp-wrapper {
    display: flex;
    flex-direction: column;
  }
  .competitor {
    margin: auto;
    margin-top: 25px;
    width: 100%;
  }

  .competitor img {
    width: 30%;
  }
  .competitor p {
        line-height: 1.5em;
  }

}

@media (max-width: 1024px) and (min-width: 768px) {
  .comp-wrapper {
    display: flex;
    flex-direction: row;
  }
  .competitor {
    margin: auto;
    margin-top: 25px;
    padding-left: 12px;
    padding-right: 12px;
    width: 60%;
  }

  .competitor img {
    width: 50%;
  }
}


/* REFLECTION */

.reflection-content {
  margin-bottom: 100px;
}

/* PREFERENCE TEST*/
.branding img {
  display: flex;
  padding-bottom: 0px;
}

/* FOOTER */

footer {
  background: #edf4f4;
  background: url("../assets/Asset 1@2x.png");
  background-color: #edf4f4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1800px 878.5812356979404px;
  padding: 40px 0px 30px 0px;
  text-align: center;
}

.footer-container ul {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  padding-left: 0px;

}

.social-btn {
  display: inline-block;
}

.social-btn a {
  color: #ffffff;
  border-radius: 100px;
  background-color: #1b3d3d;
  padding: 12px 14px;
  margin: 20px;
}

.copyright {
 display: inherit;
 font-family: "adelle", serif;
 padding: 40px 0px 0px 0px;
 text-align: center;
}

@media (max-width: 768px) and (min-width: 320px) {
  .social-btn a {
    margin: 10px;
  }
  .copyright {
    font-size: 11px;
  }
}
