html, body{
  overflow-x: hidden;
}

body {
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-style: normal;
  font-weight: 350;
  color:#1b3d3d;
}

/* TOP NAV */
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  text-align: center;
}

.topnav ul {
  padding-left: 0px;
}

.topnav a {
  display: inline-grid;
  vertical-align: middle;
  color: #6ca29e;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 5px 2px;
  text-decoration: none;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 15px;
}

.topnav a.active {
  color: #1b3d3d;
  border-bottom: 1px solid #1b3d3d;
}

.topnav a:hover {
  color: #1b3d3d;
}

.topnav img {
  padding: 5px;
  margin: 20px 10px;
  vertical-align: middle;
}

@media (max-width: 768px) and (min-width: 641px) {
  .topnav a {
    margin: 20px
  }
}

@media (max-width: 640px) and (min-width: 320px) {
  .topnav a {
    display: flex;
    float: right;
    margin: 10px 10px;
  }

  .topnav a.active {
    border-bottom: none;
    font-weight: 400;
  }

  .topnav img {
    vertical-align: middle;
    margin-top: 5px;
    float: left;
  }
}


/* BODY */
h1 {
  font-size: 80px;
  text-align: center;
  font-weight: Bold;
  letter-spacing: 3px;
}

h2, p {
  font-family: "adelle", serif;
  font-weight: 100;
  font-style: normal;
}

h2 {
  font-size: 45px;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

h3 {
  padding: 120px 0px 0px 0px;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 28px;
  font-weight: 100px;
  margin-bottom: 50px;
}

.hero-content {
  background: url("../assets/Asset 1@2x.png");
  background-color: #edf4f4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1800px 878.5812356979404px;
  padding: 30px 0;
  border: 1px solid #edf4f4;
}

@media (max-width: 640px) and (min-width: 320px) {
h2 {
  font-size: 40px;
  }
}

/* WORK */

.work {
  text-align: center;
  position: relative;
  color: #ffffff;
}

.work ul li {
  list-style-type: none;
  float: left;
}

.work ul {
  margin: 0px;
}

.one-half {
  width: 50%;
}

.left-box {
  height: 450px;
  width: auto;
  background:
  /* top, transparent */
  linear-gradient(
    rgba(27, 61, 61, 0.65),
    rgba(27, 61, 61, 0.65)
    ),
    /* bottom, image */
    url("../assets/Guidetribe Promo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

.right-box {
  height: 450px;
  background:
  /* top, transparent */
  linear-gradient(
    rgba(27, 61, 61, 0.70),
    rgba(27, 61, 61, 0.70)
    ),
    /* bottom, image */
    url("../assets/DOX Promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }

.container {
  background: #1b3d3d;
  position: relative;
  letter-spacing: 1px;
  padding: 0px 0px;
}

.btn {
  border-radius: 100px;
  font-weight: 350;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
  background: #507c6f;
  border: 1px solid white;
}

.btn:hover {
  background: #ffffff;
  color: #1b3d3d;
  font-weight: 300;
}

@media (max-width: 768px) and (min-width: 320px) {
  .btn {
    font-weight: 300;
  }
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

@media (max-width: 768px) and (min-width: 320px) {
  .one-half {
    width: 100%;
  }
}


/* Footer */

footer {
  background: #edf4f4;
  background: url("../assets/Asset 1@2x.png");
  background-color: #edf4f4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1800px 878.5812356979404px;
  padding: 40px 0px 30px 0px;
  text-align: center;
}

.footer-container ul {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  padding-left: 0px;

}

.social-btn {
  display: inline-block;
}

.social-btn a {
  color: #ffffff;
  border-radius: 100px;
  background-color: #1b3d3d;
  padding: 12px 14px;
  margin: 20px;
}

.copyright {
 display: inherit;
 font-family: "adelle", serif;
 padding: 40px 0px 0px 0px;
 text-align: center;
}

@media (max-width: 768px) and (min-width: 320px) {
  .social-btn a {
    margin: 10px;
  }
  .copyright {
    font-size: 11px;
  }
}
